* {
	box-sizing: border-box;
	font-family: monospace;
	text-align: center;
}
  
body {
	color: #F7F7F7;
	background-color: #2C3E50;
	margin: 0;
}
  
header {
	padding: 2rem;
	border-bottom: 3px solid #F7F7F7;
}
  
main {
  
	margin: 2rem 5%;
	
	.chart-container {
		width: 100%;
		display: flex;
		justify-content: center;
		background-color: #F7F7F7;
		border-radius: 15px;
		padding: 2rem;
		margin: 2rem 0;
	}

	.notice-wrap {
		background-color: #F7F7F7;
		border-radius: 15px;
		padding: 2rem;
		text-align: center;
		color: #2C3E50;
	}
}
  
