* {
  box-sizing: border-box;
  font-family: monospace;
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  color: #F7F7F7;
  background-color: #2C3E50;
}

h1 {
  text-align: center;
}

.chart-container {
  width: 90vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background-color: #F7F7F7;
  border-radius: 15px;
  padding: 2rem;
}

.notice-wrap {
  background-color: #F7F7F7;
  border-radius: 15px;
  padding: 2rem;
  text-align: center;
  color: #2C3E50;
}